<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,200" />

<section class="successful-payment">

    <span style="font-size: 180px; color: white;" class="material-symbols-outlined spacebetween">
        cancel
    </span>

    <div class="titre" style="text-transform:uppercase">
        OOOPS!
    </div>
    
    <div class="text">
        Nous n'avons pas reçu votre paiement !
    </div>

    <div class="redirect" (click)="redirect()">
        Réessayer
    </div>
    

</section>