<div class="add-founds">

        <div class="first-line">
            Quel est le montant que vous souhaitez recharger ?
        </div>
        <div class="second-line">

            <mat-form-field appearance="fill" color="accent">
                <mat-label>Montant</mat-label>
                <input matInput type="number" placeholder="1,500.00" [formControl]="amount" required>
                <mat-error *ngIf="amount.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <mat-divider></mat-divider>

        <div class="third-line">
            <button [disabled]="!amount.valid" mat-raised-button color="accent" (click)="submit()" >Valider</button>            
            <button mat-raised-button (click)="annuler()" >Annuler</button>
        </div>
</div>
